<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Your-News</title>
    <link rel="stylesheet" href="/admin/css/login.css" />
</head>
<body>
<div class="login-container">
    <h2>관리자 로그인</h2>
    <input type="text" id="username" placeholder="아이디" />
    <input type="password" id="password" placeholder="비밀번호" />
    <div id="error" class="error-message" style="display: none;"></div>
    <button id="login-button">로그인</button>
</div>
<script src="/admin/js/login.js"></script>
</body>
</html>